apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: test-component--ggnz
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: test-component--ggnz
    app.kubernetes.io/part-of: test-app-xves
  name: test-component--ggnz
  namespace: e2e-test-pipelines-kglb
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: test-component--ggnz
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: test-component--ggnz
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/test-images:e94255a326da482db5483c49b7e9760b
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8081
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8081
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8081
        resources: {}
status: {}
